:root{
  --primay-color: #6d76e4;
  --secondary-color:#595965;
  --info: #fef8fe;
  --body-color:#fef8fe;
  --dark-color:#282828;
  --body-bag: #fef8fe;
}
#container{
  display: grid;
  background-color: aliceblue;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "sid sid sid cont cont cont cont  cont cont cont cont cont";
}

html,*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.sid-bar{
  top: 0;
  position: sticky;
  grid-area: sid;
  background-color: aqua;
  width: auto;
  min-height: 90vh;
  max-height: 100vh;
}
.main-container{
  grid-area: cont;
  width: 90%;
  margin: auto;
}
.nav-bar{
  display: flex;
width: 100%;
height: 8vh;
justify-content: space-between;
align-items: center;
padding:0 30px
}
.main-contant{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
}
.main-contant .article{
  border: 1px solid black;
  width: 30%;
  margin:  auto;
  min-height: 40vh;
  max-height: fit-content;
  overflow: hidden;
  position: relative;
  padding: 7px;
}
@media (max-width:768px)  {
  .main-contant .article{
  width: 200px;
  }
}

@media  (max-width:1000px) {
  .sid-bar{
    display: none;
  }
  #container{
    grid-template-areas:  "cont cont cont cont cont cont cont  cont cont cont cont cont";
  }
  .main-contant{
    width: 100%;

    margin: auto;
  }
}

.main-contant .article-body {
  display: block;
  overflow: hidden;
  max-height: 28vh;
  line-height: 4vh;
}
.btn-date-topice{
  align-items: center;
  display: flex;
  position: absolute;
  width: 90%;
  justify-content: space-around;
  bottom: 5px;
}
@media (max-width:1540px) {
  .main-contant .article-body {
  }
  .main-contant .article{
    height: 42vh;
  }
}
@media (max-width:1400px) and (min-width:1000px) {
  .main-contant .article{
    width: 45%;
    height: 32vh;
    }
    .main-contant .article .article-body{
      height: 20vh;
    }
  
} a{
  text-decoration: none;
  color: var(--dark-color);
}

.sid-bar a{
  display: block;
  margin: 30px 10px;
  font-size: large;
}
.sid-bar a:hover{
  /* background-color: ; */
  /* font-size: xx-large; */
}
.sid-bar a.seletcted{
  /* font-size: xx-large; */
}
.article-title{
  margin: 5px auto;
  /* border-bottom: var(--dark-color) solid 1px; */
  padding: 10px 5px;
}
.read-more{
  margin-top:10px ;
  cursor: pointer;
  color:#00a52c;
}

@media  (max-width:800px) {
  .main-contant .article {
  width: 80%;
  height: 35vh;
    }
    
    .main-contant .article-body {
      line-height: 3vh;
      
    }
}
/*  */
#mopail-icon{
  display: none;
}

#links-bar{
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
}
#links-bar a{
  margin: 0 5px;
  padding: 5px;
  background-color: var(--primay-color);
  border-radius: 5px;
}
#links-bar a:Hover{
  background-color: #282828;
  color:var(--info)
}
#search{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#search input{
  width: 43vw;
  height:3vh;
}

@media  (max-width:1000px) {
  #links-bar{
    display: none;
  }
  #mopail-icon{
  display: block;
}
.nav-bar{
  justify-content: flex-end;
  padding: 0 10px;
}

}
#mopile-nav-sid{
  position: fixed;
  width: 100%;
  background-color: rgba(0,9,9,0.6);
  top: 0;
  height: 100vh;
  left: 0;
  z-index: 2;
  color: white;
  display: flex;
}
.inner-mpile{
background-color: var(--primay-color);
width: 70%;

}
#mopile-nav-sid span{
  padding: 7px;
  cursor: pointer;
  float: right;
  margin: 15px;
}
.inner-mpile a{
  margin: 25px 20px;
  background-color: var();
  font-size: large;
  display: block;
}

.inner-mpile .topic{
  border-bottom: 1px solid black;
  margin-top: 20px;
}
.inner-mpile .link-to{
  
  max-width: 0px;
  background-color: #282828;
}
#mopail-icon{
  cursor: pointer;
  font-size: 2rem;
}

/* 
 */
 #full-article{
  width: 100%;
  grid-area: cont;
  height: 87vh;
  display: flex ;
  justify-content: space-between;
}
#all-comments{
  max-width: 20vw;
  font-size: 15px;
  height: 85vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
}
#all-comments::-webkit-scrollbar {
  display: none;
}
.commetns{
  display: flex;
  flex-direction: column-reverse;
  background-color: #f4f5f7;
}
.commetns div{
  background-color: #eaecf0;
  box-shadow: 0px 0px 9px -3px cadetblue;
}
#all-comments div{
max-width: 100%;
  margin: 5px ;
  padding: 5px;
  padding-bottom: 10px;
  /* border-bottom: #282828 solid 1px; */
}

#one-article{
  max-width: 45vw;
  font-size: 20px;padding: 5px;

}
.article-content{

}
.article-content span{
  /* position: absolute; */
}
.comment-write{
  width:auto;
  border: 1px solid black;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 47vw;
  bottom: 27px;
  height: 6vh;
  align-items: center;
  
}
.like-date{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
}
@media  (max-width:1000px){
  #all-comments{
  /* height: 34vh;/ */
  margin-bottom: 8vh;
  height: auto;
  max-width: 100%;

  }
  .main-container .comments-word{
    display: none;
  }
  #full-article{
    flex-direction: column-reverse;
    height: auto;
    justify-content: space-between;
    padding-bottom: 10vh;
  }
  #one-article{
    max-width: 100%;
  }

 .comment-write{
    width:87vw;
    background-color: #f0f8ff;
    bottom: 0;
    border: 0;
  }


}