:root{
  --primay-color: #6d76e4;
  --bar-side: linear-gradient(#372476,#3b173b);
}
#container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "sid sid sid cont cont cont cont  cont cont cont cont cont";
}

html,*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.sid-bar{
  top: 0;
  position: sticky;
  grid-area: sid;
  /* background-color: aqua; */
  width: auto;
  min-height: 92vh;
  max-height: 100vh;
  background-color: #372476;
  background: linear-gradient(#372476,#3b173b);
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#372476),to(#3b173b));
  background: -webkit-linear-gradient(top,#372476,#3b173b);
  background: -moz-linear-gradient(top,#372476,#3b173b);
  background: -ms-linear-gradient(top,#372476,#3b173b);
  background: -o-linear-gradient(top,#372476,#3b173b);
}
.main-container{
  grid-area: cont;
  width: 90%;
  margin: auto;
}
.nav-bar{
  display: flex;
width: 100%;
height: 8vh;
justify-content: space-between;
align-items: center;
padding:0 30px
}
.main-contant{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;
  padding: 1em 0;
}
.main-contant .article{
  border: 1px solid black;
  width: 30%;
  margin:  auto;
  min-height: auto;
  max-height: fit-content;
  overflow: hidden;
  position: relative;
  padding: 7px;
  line-height: 3vh;
}
@media (max-width:768px)  {
  .main-contant .article{
  width: 200px;
  }
}

@media  (max-width:1000px) {
  .sid-bar{
    display: none;
  }
  #container{
    grid-template-areas:  "cont cont cont cont cont cont cont  cont cont cont cont cont";
  }
  .main-contant{
    width: 100%;

    margin: auto;
  }
}

.main-contant .article-body {
  display: block;
  overflow: hidden;

  margin-bottom: 5vh;
margin-top: 3vh;
}
.btn-date-topice{
  align-items: center;
  display: flex;
  position: absolute;
  width: 90%;
  justify-content: space-around;
  bottom: 5px;
}
@media (max-width:1540px) {
  .main-contant .article-body {
  }
  .main-contant .article{
    height: 42vh;
  }
}
@media (max-width:1400px) and (min-width:1000px) {
  .main-contant .article{
    width: 45%;
    height: 32vh;
    }
    .main-contant .article .article-body{
      height: 20vh;
    }
  
} a{
  text-decoration: none;
  color: white;
}

.sid-bar a{
  display: block;
  margin: 0px 0px  24px 10px;
  font-size: large;
  padding: 5px;
}
.sid-bar a.slected{
background-color: white;
color:var(--primay-color);
padding-left: 40px;
}
.sid-bar a:hover{
  /* background-color: ; */
  /* font-size: xx-large; */
}
.sid-bar a.seletcted{
  /* font-size: xx-large; */
}
.article-title{
  margin: 5px auto;
  color: black;
  padding: 10px 5px;
}
.read-more{
  margin-top:10px ;
  cursor: pointer;
  color:#00a52c;
}

@media  (max-width:800px) {
  .main-contant .article {
  width: 80%;
  height: auto;
    }
    
    .main-contant .article-body {
      line-height: 3vh;
      
    }
}
/*  */
#mopail-icon{
  display: none;
}

#links-bar{
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
}
#links-bar a{
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
#links-bar a:Hover{
  /* background-color: #282828; */
  /* color:var(--info) */
}
#search{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}


@media  (max-width:1000px) {
  #links-bar{
    display: none;
  }
  #mopail-icon{
  display: block;
}
.nav-bar{
  justify-content: flex-end;
  padding: 0 10px;
}
.nav-bar a{
  color: white;
}
}
#mopile-nav-sid{
  position: fixed;
  width: 100%;
  background-color: rgba(0,9,9,0.6);
  top: 0;
  height: 100vh;
  left: 0;
  z-index: 2;
  color: white;
  display: flex;
}
.inner-mpile{
  background:var(--bar-side);
  width: 70%;
}
#mopile-nav-sid span{
  padding: 7px;
  cursor: pointer;
  float: right;
  margin: 15px;
}
.sid-bar a{
  color: white;
}
.inner-mpile a{
  margin: 25px 20px;
  /* background-color: var(--bar-side); */
  font-size: large;
  display: block;
}

.inner-mpile .topic{
  border-bottom: 1px solid black;
  margin-top: 20px;
}
.inner-mpile .link-to{
  max-width: 0px;
  background-color: #282828;
}
#mopail-icon{
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

/* 
 */
 #full-article{
  width: 100%;
  grid-area: cont;
  height: 87vh;
  display: flex ;
  justify-content: space-between;
}
#all-comments{
  max-width: 20vw;
  font-size: 15px;
  height: 85vh;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
}
#all-comments::-webkit-scrollbar {
  display: none;
}
.commetns{
  display: flex;
  flex-direction: column-reverse;
  background-color: #f4f5f7;
}
.commetns div{
  background-color: #eaecf0;
  box-shadow: 0px 0px 9px -3px cadetblue;
}
#all-comments div{
max-width: 100%;
  margin: 5px ;
  padding: 5px;
  padding-bottom: 10px;
  /* border-bottom: #282828 solid 1px; */
}

#one-article{
  font-size: 20px;padding: 5px;
  width: 46vw;

}
.article-content{

}
.article-content span{
  /* position: absolute; */
}
.comment-write{
  width:auto;
  border: 1px solid black;
  padding: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 47vw;
  bottom: 27px;
  height: 6vh;
  align-items: center;
  
}
.like-date{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 10px 0;
}
@media  (max-width:1000px){
  #all-comments{
  margin-bottom: 8vh;
  height: auto;
  max-width: 100%;
  }

  .main-container .comments-word{
    display: none;
  }
  #full-article{
    flex-direction: column-reverse;
    height: auto;
    justify-content: space-between;
    padding-bottom: 10vh;
    min-height: 92vh;
  }
  #one-article{
  width: 100%;
  }

 .comment-write{
    width:87vw;
    background-color: #f0f8ff;
    bottom: 0;
    border: 0;
  }


}

#write-article{
  background-color: #00a52c;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

}
.only-phone{
  display: none;
}

#photo-landing{
  width: 100vw;
  height: 92vh;
}
#landing-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-photo-text{
  position: absolute;
  top: 20vh;
  right: 10vw;
  background-color:rgba(0,9,9,0.6);
  width: 30%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.explor-btn{
  border: 0;
  background-color: #6d76e4;
  width: 10vw;
  height: 5vh;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}
.explor-btn:hover{
  box-shadow:#282827 0px 0px 24px 2px;
background-color:   cornflowerblue;
}

@media (max-width:1000px) {
  #photo-landing{
    width: 100vw;
    height: 40vh;
  }
  #landing-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .center-photo-text{
    position: static;
    background-color:white;
    width: 100%;
    height: 20vh;
    color: black;
  }
  .only-phone{
    height: 32vh;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1546074177-ffdda98d214f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80")
  }
  .explor-btn{
    width: 20vw;
    height: 5vh;
  }

}

#login{
  height: 92vh;
  background-image: url("./../public/img/login.avif");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;

  
}
#login form{
  margin: 17vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 19px 4px blanchedalmond;
  padding: 4em;
}

#login form label{
  margin:5px;
  font-size: large;
}

#login form input{
  width: 100%;
  height: 2em;
  border: 0;
  border-radius: 2px;
}

#login form button{
  width: 100px;
  padding: 2px 5px;
  margin: 2em;

}
/*  */


.sign-up{
  background-image: url("../public/img/create.avif");
  height: 92vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.sign-up form{
  margin: 10vh 10vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 19px 4px blanchedalmond;
  padding: 4em;
}

.sign-up  form label{
  margin:5px;
  font-size: large;
}

.sign-up  form input{
  width: 100%;
  height: 2em;
  border: 0;
  border-radius: 2px;
}

.sign-up  form button{
  width: 100px;
  padding: 5px ;
  margin: 2em auto;
  border: 0;
  cursor: pointer;
}
/*  */

header{
  background-color: #372476;
}